.span {
    color: var(--color-indianred);
}

.harshal {
    height: 35px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
}

.avatar-1-icon {
    height: 116px;
    width: 116px;
    position: relative;
    border-radius: var(--br-174xl);
    object-fit: cover;
}

.contact-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) var(--padding-xs);
}

.span1 {
    color: var(--color-indianred);
}

.hi-i-am-container {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    letter-spacing: 0.03em;
    line-height: 115.52%;
    font-weight: 600;
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
}

.gmail-logo {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-5xs);
    box-sizing: border-box;
    max-width: 100%;
    font-size: var(--font-size-19xl);
    color: var(--color-gainsboro-100);
}

.age-23 {
    width: 147px;
    display: inline-block;
}

.age-23,
.location-mumbai {
    position: relative;
    letter-spacing: 0.03em;
    line-height: 154.02%;
}

.location-and-age,
.personal-info-frame {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.personal-info-frame {
    flex-direction: column;
    gap: 10px 0;
}

.location-and-age {
    flex-direction: row;
    padding: 0 var(--padding-5xs) var(--padding-7xs);
}

.whatsapp-9190216643xx {
    width: 237px;
    display: inline-block;
}

.email-harshalhonde50gmailcom,
.whatsapp-9190216643xx {
    position: relative;
    letter-spacing: 0.03em;
    line-height: 154.02%;
}

.contact-details-frame,
.whatsapp-email-frame {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.whatsapp-email-frame {
    flex-direction: column;
    gap: 15px 0;
}

.contact-details-frame {
    flex-direction: row;
    padding: 0 var(--padding-5xs) var(--padding-mid);
}

.group-icon,
.outline-brands-frame-child,
.outline-brands-frame-child1,
.outline-brands-frame-inner,
.outline-brands-frame-item {
    height: 32px;
    width: 32px;
    position: relative;
    min-height: 32px;
}

.menu-vector-icon {
    height: 15.6px;
    width: 40.3px;
    position: relative;
}

.outline-brands-frame {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-xl);
}

.group-logo {
    width: 321px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-5xs) var(--padding-lg);
    box-sizing: border-box;
    max-width: 100%;
}

.arhive-alt-add-light-icon {
    height: 49px;
    width: 48px;
    position: relative;
}

.harshalhonde50gmailcom {
    flex: 1;
    position: relative;
    font-size: var(--font-size-5xl-9);
    line-height: 149.02%;
    font-weight: 500;
    font-family: var(--font-urbanist);
    color: var(--color-gainsboro-100);
    text-align: center;
}

.gmail-instance,
.hi-text {
    justify-content: flex-start;
}

.gmail-instance {
    cursor: pointer;
    border: 1.6px solid var(--strock-color);
    padding: 14px 22px var(--padding-smi) var(--padding-2xl);
    background-color: var(--color-gainsboro-200);
    width: 268px;
    border-radius: var(--br-6xs-7);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0 12px;
}

.gmail-instance:hover {
    background-color: var(--color-silver);
    border: 1.6px solid #757575;
    box-sizing: border-box;
}

.hi-text {
    width: 611px;
    flex-direction: column;
    gap: 8px 0;
}

.avatar-circle,
.frame-root,
.hi-text {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
}

.avatar-circle {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-end;
    font-size: var(--font-size-base);
    color: var(--strock-color);
    font-family: var(--font-urbanist);
}

.frame-root {
    width: 834px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 158px 0 0;
    box-sizing: border-box;
    gap: 92px 0;
}

.home {
    margin: 0;
    width: 258.6px;
    height: 94px;
    position: relative;
    font-size: inherit;
    text-transform: capitalize;
    font-weight: 500;
    font-family: inherit;
    color: var(--color-gainsboro-100);
    display: inline-block;
    flex-shrink: 0;
}

.protfolio {
    white-space: pre-wrap;
}

.contact,
.process,
.protfolio {
    margin: 0;
    align-self: stretch;
    height: 94px;
    position: relative;
    font-size: inherit;
    text-transform: capitalize;
    font-weight: 500;
    font-family: inherit;
    display: inline-block;
    flex-shrink: 0;
}

.menu-alt,
.menu-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.menu-alt {
    align-self: stretch;
    gap: 16px 0;
}

.menu-frame {
    width: 302px;
    padding: 127px 0 0;
    box-sizing: border-box;
    font-size: var(--font-size-41xl);
    color: var(--strock-color);
    font-family: var(--font-urbanist);
}

.menu-2-icon {
    width: 31.5px;
    height: 21px;
    position: relative;
}

.full-screen-menu,
.menu-button {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.menu-button {
    flex-direction: column;
    padding: var(--padding-6xs) 0 0;
}

.full-screen-menu {
    position: relative;
    background-color: var(--color-gray-100);
    width: 100%;
    overflow: hidden;
    flex-direction: row;
    padding: 40px 80px 70px 80px;
    box-sizing: border-box;
    gap: 0 41px;
    letter-spacing: normal;
    text-align: left;
    font-size: var(--font-size-10xl-2);
    color: var(--color-white);
    font-family: var(--font-inter);
}

@media screen and (max-width: 1350px) {
    .full-screen-menu {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1125px) {
    .frame-root {
        gap: 92px 0;
        padding-right: 79px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 800px) {
    .hi-i-am-container {
        font-size: var(--font-size-11xl);
        line-height: 35px;
    }
    .contact,
    .home,
    .process,
    .protfolio {
        font-size: var(--font-size-29xl);
    }
    .menu-frame {
        padding-top: 83px;
        box-sizing: border-box;
    }
    .full-screen-menu {
        gap: 0 41px;
        padding-left: var(--padding-21xl);
        padding-right: 55px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 450px) {
    .harshal,
    .hi-i-am-container {
        font-size: var(--font-size-4xl);
    }
    .hi-i-am-container {
        line-height: 26px;
    }
    .outline-brands-frame {
        flex-wrap: wrap;
        justify-content: center;
    }
    .harshalhonde50gmailcom {
        font-size: var(--font-size-xl);
        line-height: 30px;
    }
    .frame-root {
        gap: 92px 0;
        padding-right: var(--padding-xl);
        box-sizing: border-box;
    }
    .contact,
    .home,
    .process,
    .protfolio {
        font-size: var(--font-size-17xl);
    }
    .full-screen-menu {
        padding-right: var(--padding-xl);
        box-sizing: border-box;
    }
}