@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);
body{
    font-family:Montserrat,sans-serif;
    font-weight:300;
    font-size:15px;
    line-height:1.7;
    color:#fff;
    background-color:#000;
    overflow-x:hidden;
    -webkit-transition:all .3s linear;
    transition:all .3s linear
}
a{
    cursor:pointer
}
a:hover{
    text-decoration:none
}
.cursor,.cursor2,.cursor3{
    position:fixed;
    border-radius:50%;
    transform:translateX(-50%) translateY(-50%);
    pointer-events:none;
    left:-100px;
    top:50%;
    mix-blend-mode:difference;
    -webkit-transition:all .3s linear;
    transition:all .3s linear
}
.cursor{
    background-color:#800020;
    height:0;
    width:0;
    z-index:99999
}
.cursor2,.cursor3{
    height:36px;
    width:36px;
    z-index:99998;
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out
}
.cursor2{
    border:2px solid #fff;
    box-shadow:0 0 22px rgba(255,255,255,.6)
}
@media screen and (max-width:1200px){
    .cursor,.cursor2,.cursor3{
        display:none
    }
}
body::-webkit-scrollbar{
    width:12px
}
body::-webkit-scrollbar-track{
    background:#000
}
body::-webkit-scrollbar-thumb{
    background-color:#000;
    border-radius:20px;
    border:3px solid #000
}
.section{
    position:relative;
    width:100%;
    display:block
}
.over-hide{
    overflow:hidden
}
.full-height{
    height:750px;
    border-bottom: 1px solid #fff;
}
.cd-header{
    position:fixed;
    width:100%;
    top:0;
    left:0;
    z-index:100
}
.header-wrapper{
    position:relative;
    width:calc(100% - 100px);
    margin-left:50px
}
.logo-wrap{
    position:absolute;
    display:block;
    left:0;
    top:40px;
    cursor:pointer
}
.logo-wrap a{
    cursor:pointer;
    font-family:Montserrat,sans-serif;
    font-weight:900;
    font-size:20px;
    line-height:20px;
    text-transform:uppercase;
    letter-spacing:2px;
    color:#fff;
    transition:all .3s ease-out
}
.logo-wrap a span{
    color:#fff
}
.logo-wrap a:hover{
    opacity:.9
}
.logo-wrap a span{
    color:#800020
}
.nav-but-wrap{
    position:relative;
    display:inline-block;
    float:right;
    padding-left:15px;
    padding-top:15px;
    margin-top:26px;
    transition:all .3s ease-out
}
.menu-icon{
    height:30px;
    width:30px;
    position:relative;
    z-index:2;
    cursor:pointer;
    display:block
}
.menu-icon__line{
    height:2px;
    width:30px;
    display:block;
    background-color:#fff;
    margin-bottom:7px;
    cursor:pointer;
    -webkit-transition:background-color .5s ease,-webkit-transform .2s ease;
    transition:background-color .5s ease,-webkit-transform .2s ease;
    transition:transform .2s ease,background-color .5s ease;
    transition:transform .2s ease,background-color .5s ease,-webkit-transform .2s ease
}
.menu-icon__line-left{
    width:16.5px;
    -webkit-transition:all .2s linear;
    transition:all .2s linear
}
.menu-icon__line-right{
    width:16.5px;
    float:right;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -o-transition:all .2s linear;
    -ms-transition:all .2s linear;
    transition:all .2s linear
}
.menu-icon:hover .menu-icon__line-left,.menu-icon:hover .menu-icon__line-right{
    width:30px
}
.nav{
    position:fixed;
    z-index:98
}
.nav:after,.nav:before{
    content:"";
    position:fixed;
    width:100vw;
    height:100vh;
    background:rgba(20,21,26,.6);
    border-bottom-left-radius:200%;
    z-index:-1;
    -webkit-transition:-webkit-transform cubic-bezier(.77,0,.175,1) .6s,border-radius linear .8s;
    transition:-webkit-transform cubic-bezier(.77,0,.175,1) .6s,border-radius linear .8s;
    transition:transform cubic-bezier(.77,0,.175,1) .6s,border-radius linear .8s;
    transition:transform cubic-bezier(.77,0,.175,1) .6s,-webkit-transform cubic-bezier(.77,0,.175,1) .6s,border-radius linear .8s;
    -webkit-transform:translateX(100%) translateY(-100%);
    transform:translateX(100%) translateY(-100%)
}
.nav:after{
    background:rgba(9,9,12,1);
    -webkit-transition-delay:0s;
    transition-delay:0s
}
.nav:before{
    -webkit-transition-delay:.2s;
    transition-delay:.2s
}
.nav__content{
    position:fixed;
    visibility:hidden;
    top:50%;
    margin-top:20px;
    -webkit-transform:translate(0,-50%);
    transform:translate(0,-50%);
    width:100%;
    text-align:center
}
.nav__list{
    position:relative;
    padding:0;
    margin:0;
    z-index:2
}
.nav__list-item{
    position:relative;
    display:block;
    -webkit-transition-delay:.8s;
    transition-delay:.8s;
    opacity:0;
    text-align:center;
    color:#fff;
    overflow:hidden;
    font-family:Montserrat,sans-serif;
    font-size:8vh;
    font-weight:900;
    line-height:1.15;
    letter-spacing:3px;
    -webkit-transform:translate(100px,0);
    transform:translate(100px,0);
    -webkit-transition:opacity .2s ease,-webkit-transform .3s ease;
    transition:opacity .2s ease,-webkit-transform .3s ease;
    transition:opacity .2s ease,transform .3s ease;
    transition:opacity .2s ease,transform .3s ease,-webkit-transform .3s ease;
    margin-top:0;
    margin-bottom:0
}
.nav__list-item a{
    position:relative;
    text-decoration:none;
    color:rgba(255,255,255,.6);
    overflow:hidden;
    cursor:pointer;
    padding-left:5px;
    padding-right:5px;
    font-weight:900;
    z-index:2;
    display:inline-block;
    text-transform:uppercase;
    -webkit-transition:all .2s linear;
    transition:all .2s linear
}
.nav__list-item a:after{
    position:absolute;
    content:'';
    top:50%;
    margin-top:-2px;
    left:50%;
    width:0;
    height:0;
    opacity:0;
    background-color:#8167a9;
    z-index:1;
    -webkit-transition:all .2s linear;
    transition:all .2s linear
}
.nav__list-item a:hover:after{
    height:4px;
    opacity:1;
    left:0;
    width:100%
}
.nav__list-item a:hover{
    color:rgba(255,255,255,1)
}
.nav__list-item.active-nav a{
    color:rgba(255,255,255,1)
}
.nav__list-item.active-nav a:after{
    height:4px;
    opacity:1;
    left:0;
    width:100%
}
.switch-wrap{
    position:absolute;
    top:50%;
    left:0;
    z-index:10;
    transform:translateY(-50%);
    width:100%;
    -webkit-transition:all .5s linear;
    transition:all .5s linear;
    margin:0 auto;
    text-align:center
}
.switch-wrap h1{
    font-weight:900;
    font-size:46px;
    line-height:1;
    color:#fff;
    text-align:center;
    text-transform:uppercase;
    margin-bottom:40px;
    -webkit-transition:all .3s linear;
    transition:all .3s linear
}
@media screen and (max-width:580px){
    .switch-wrap h1{
        font-size:32px
    }
}
.data{
    color:#fff
}
.about-us{
    height:800px;
    width:100%;
    padding:90px 0;
    background:#000;
    border-bottom: 1px solid #fff;
}
.pic{
    height:auto;
    width:302px
}
.about{
    width:1130px;
    max-width:85%;
    margin:0 auto;
    display:flex;
    align-items:center;
    justify-content:space-around;
    column-gap: 100px;

}
.text{
    width:px
}
.text h2{
    font-size:90px;
    font-weight:600;
    margin-bottom:10px
}
.text h5{
    font-size:22px;
    font-weight:500;
    margin-bottom:20px
}
span{
    color:#800020
}
.text p{
    font-size:18px;
    line-height:25px;
    letter-spacing:1px
}
.data{
    margin-top:30px
}
.hire{
    font-size:18px;
    background:#800020;
    color:#fff;
    text-decoration:none;
    border:none;
    padding:8px 25px;
    border-radius:6px;
    transition:.5s
}
.hire:hover{
    background:#000;
    border:1px solid #000
}
#Home a{
    padding-top:60px
}
#Home a span{
    position:absolute;
    top:300px;
    left:50%;
    width:30px;
    height:50px;
    margin-left:-15px;
    border:2px solid #fff;
    border-radius:50px;
    box-sizing:border-box
}
#Home a span::before{
    position:absolute;
    top:10px;
    left:50%;
    content:'';
    width:6px;
    height:6px;
    margin-left:-3px;
    background-color:#fff;
    border-radius:100%;
    -webkit-animation:sdb10 2s infinite;
    animation:sdb10 2s infinite;
    box-sizing:border-box
}
@-webkit-keyframes sdb10{
    0%{
        -webkit-transform:translate(0,0);
        opacity:0
    }
    40%{
        opacity:1
    }
    80%{
        -webkit-transform:translate(0,20px);
        opacity:0
    }
    100%{
        opacity:0
    }
}
@keyframes sdb10{
    0%{
        transform:translate(0,0);
        opacity:0
    }
    40%{
        opacity:1
    }
    80%{
        transform:translate(0,20px);
        opacity:0
    }
    100%{
        opacity:0
    }
}
/* portfolio */
.skills{
    height: 800px;
    width: 100%;
    padding: 90px 0;
    background: #000;
    border-bottom: 1px solid #fff;
}

/* contact */
#contact {
    width: 100%;
    height: 100%;
  }
  
  .section-header {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    font: 300 60px 'Oswald', sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 6px;
  }
  
  .contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 840px;
  }
  
  /* Left contact page */
  .form-horizontal {
    /*float: left;*/
    max-width: 400px;
    font-family: 'Lato';
    font-weight: 400;
  }
  
  .form-control, 
  textarea {
    max-width: 400px;
    background-color: #000;
    color: #fff;
    letter-spacing: 1px;
  }
  
  .send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;
  }
  
  .alt-send-button {
    width: 400px;
    height: 34px;
    transition: all .2s ease-in-out;
  }
  
  .send-text {
    display: block;
    margin-top: 10px;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;
  }
  
  .alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
  }
  
  /* Begin Right Contact Page */
  .direct-contact-container {
    max-width: 400px;
  }
  
  /* Location, Phone, Email Section */
  .contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
  }
  
  .list-item {
    line-height: 4;
    color: #aaa;
  }
  
  .contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: #bbb;
  }
  
  .place {
    margin-left: 62px;
  }
  
  .phone {
    margin-left: 56px;
  }
  
  .gmail {
    margin-left: 53px;
  }
  
  .contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  
  /* Social Media Icons */
  .social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  .social-media-list li a {
    color: #fff;
  }
  
  .social-media-list li {
    position: relative; 
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27,27,27);
    cursor: pointer; 
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:hover {
    background-color: #fff; 
  }
  
  .social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .social-media-list li:hover a {
    color: #000;
  }
  
  .copyright {
    font: 200 14px 'Oswald', sans-serif;
    color: #555;
    letter-spacing: 1px;
    text-align: center;
  }
  
  hr {
    border-color: rgba(255,255,255,.6);
  }
  
  /* Begin Media Queries*/
  @media screen and (max-width: 850px) {
    .contact-wrapper {
      display: flex;
      flex-direction: column;
    }
    .direct-contact-container, .form-horizontal {
      margin: 0 auto;
    }  
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 300px;
    }    
    .social-media-list li {
      height: 60px;
      width: 60px;
      line-height: 60px;
    }
    .social-media-list li:after {
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
  }
  
  @media screen and (max-width: 569px) {
  
    .direct-contact-container, .form-wrapper {
      float: none;
      margin: 0 auto;
    }  
    .form-control, textarea {
      
      margin: 0 auto;
    }
   
    
    .name, .email, textarea {
      width: 280px;
    } 
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 280px;
    }  
    .social-media-list {
      left: 0;
    }
    .social-media-list li {
      height: 55px;
      width: 55px;
      line-height: 55px;
      font-size: 2rem;
    }
    .social-media-list li:after {
      width: 55px;
      height: 55px;
      line-height: 55px;
    }
    
  }
  
  @media screen and (max-width: 410px) {
    .send-button {
      width: 99%;
    }
  }