/* Please â¤ this if you like it! */

body {
  font-family:Montserrat,sans-serif;
  font-weight:300;
  font-size:15px;
  line-height:1.7;
  color:#fff;
  background-color:#000;
  overflow-x:hidden;
  -webkit-transition:all .3s linear;
  transition:all .3s linear
}

a {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

.cursor,
.cursor2,
.cursor3 {
  position: fixed;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -100px;
  top: 50%;
  mix-blend-mode: difference;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

.cursor{
  background-color:#800020;
  height:0;
  width:0;
  z-index:99999
}

.cursor2,
.cursor3 {
  height: 36px;
  width: 36px;
  z-index: 99998;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.cursor2.hover,
.cursor3.hover {
  -webkit-transform: scale(2) translateX(-25%) translateY(-25%);
  transform: scale(2) translateX(-25%) translateY(-25%);
  border: none;
}

.cursor2 {
  border: 2px solid #fff;
  box-shadow: 0 0 22px rgba(255, 255, 255, 0.6);
}

.cursor2.hover {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 1200px) {
  .cursor,
  .cursor2,
  .cursor3 {
      display: none;
  }
}

.section {
  position: relative;
  width: 100%;
  display: block;
}

.over-hide {
  overflow: hidden;
}

.full-height {
  height:750px;
  border-bottom: 1px solid #fff;
}

.cd-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.header-wrapper {
  position: relative;
  width: calc(100% - 100px);
  margin-left: 50px;
}

.logo-wrap {
  position: absolute;
  display: block;
  left: 0;
  top: 40px;
  cursor: pointer;
}

.logo-wrap a {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  transition: all 0.3s ease-out;
}

.logo-wrap a span {
  color: #800020;
}

.logo-wrap a:hover {
  opacity: 0.9;
}

.nav-but-wrap {
  position: relative;
  display: inline-block;
  float: right;
  padding-left: 15px;
  padding-top: 15px;
  margin-top: 26px;
  transition: all 0.3s ease-out;
}

.menu-icon {
  height: 30px;
  width: 30px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: block;
}

.menu-icon__line {
  height: 2px;
  width: 30px;
  display: block;
  background-color: #fff;
  margin-bottom: 7px;
  cursor: pointer;
  transition: background-color .5s ease, transform .2s ease;
}

.menu-icon__line-left {
  width: 16.5px;
  transition: all 200ms linear;
}

.menu-icon__line-right {
  width: 16.5px;
  float: right;
  transition: all 200ms linear;
}

.menu-icon:hover .menu-icon__line-left,
.menu-icon:hover .menu-icon__line-right {
  width: 30px;
}

.nav {
  position: fixed;
  z-index: 98;
}

.nav:before,
.nav:after {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(20, 21, 26, 0.6);
  border-bottom-left-radius: 200%;
  z-index: -1;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
  transform: translateX(100%) translateY(-100%);
}

.nav:after {
  background: rgba(9, 9, 12, 1);
  transition-delay: 0s;
}

.nav:before {
  transition-delay: .2s;
}

.nav__content {
  position: fixed;
  visibility: hidden;
  top: 50%;
  margin-top: 20px;
  transform: translate(0%, -50%);
  width: 100%;
  text-align: center;
}

.nav__list {
  position: relative;
  padding: 0;
  margin: 0;
  z-index: 2;
}

.nav__list-item {
  position: relative;
  display: block;
  transition-delay: 0.8s;
  opacity: 0;
  text-align: center;
  color: #fff;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  font-size: 8vh;
  font-weight: 900;
  line-height: 1.15;
  letter-spacing: 3px;
  transform: translate(100px, 0%);
  transition: opacity .2s ease, transform .3s ease;
  margin-top: 0;
  margin-bottom: 0;
}

.nav__list-item a {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  overflow: hidden;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 900;
  z-index: 2;
  display: inline-block;
  text-transform: uppercase;
  transition: all 200ms linear;
}

.nav__list-item a:after {
  position: absolute;
  content: '';
  top: 50%;
  margin-top: -2px;
  left: 50%;
  width: 0;
  height: 0;
  opacity: 0;
  background-color: #8167a9;
  z-index: 1;
  transition: all 200ms linear;
}

.nav__list-item a:hover:after {
  height: 4px;
  opacity: 1;
  left: 0;
  width: 100%;
}

.nav__list-item a:hover {
  color: rgba(255, 255, 255, 1);
}

.nav__list-item.active-nav a {
  color: rgba(255, 255, 255, 1);
}

.nav__list-item.active-nav a:after {
  height: 4px;
  opacity: 1;
  left: 0;
  width: 100%;
}

body.nav-active .nav__content {
  visibility: visible;
}

body.nav-active .menu-icon__line {
  background-color: #fff;
  transform: translate(0px, 0px) rotate(-45deg);
}

body.nav-active .menu-icon__line-left {
  width: 15px;
  transform: translate(2px, 4px) rotate(45deg);
}

body.nav-active .menu-icon__line-right {
  width: 15px;
  float: right;
  transform: translate(-3px, -3.5px) rotate(45deg);
}

body.nav-active .menu-icon:hover .menu-icon__line-left,
body.nav-active .menu-icon:hover .menu-icon__line-right {
  width: 15px;
}

body.nav-active .nav {
  visibility: visible;
}

body.nav-active .nav:before,
body.nav-active .nav:after {
  transform: translateX(0%) translateY(0%);
  border-radius: 0;
}

body.nav-active .nav:after {
  transition-delay: .1s;
}

body.nav-active .nav:before {
  transition-delay: 0s;
}

body.nav-active .nav__list-item {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity .3s ease, color .3s ease, transform .3s ease;
}

body.nav-active .nav__list-item:nth-child(0) {
  transition-delay: 0.7s;
}

body.nav-active .nav__list-item:nth-child(1) {
  transition-delay: 0.8s;
}

body.nav-active .nav__list-item:nth-child(2) {
  transition-delay: 0.9s;
}

body.nav-active .nav__list-item:nth-child(3) {
  transition-delay: 1s;
}

body.nav-active .nav__list-item:nth-child(4) {
  transition-delay: 1.1s;
}

body.nav-active .nav__list-item:nth-child(5) {
  transition-delay: 1.2s;
}

body.nav-active .nav__list-item:nth-child(6) {
  transition-delay: 1.3s;
}

body.nav-active .nav__list-item:nth-child(7) {
  transition-delay: 1.4s;
}

body.nav-active .nav__list-item:nth-child(8) {
  transition-delay: 1.5s;
}

body.nav-active .nav__list-item:nth-child(9) {
  transition-delay: 1.6s;
}

body.nav-active .nav__list-item:nth-child(10) {
  transition-delay: 1.7s;
}
body::-webkit-scrollbar{
  width:12px
}
body::-webkit-scrollbar-track{
  background:#000
}
body::-webkit-scrollbar-thumb{
  background-color:#000;
  border-radius:20px;
  border:3px solid #000
}
.switch-wrap{
  position:absolute;
  top:50%;
  left:0;
  z-index:10;
  transform:translateY(-50%);
  width:100%;
  -webkit-transition:all .5s linear;
  transition:all .5s linear;
  margin:0 auto;
  text-align:center
}
.switch-wrap h1{
  font-weight:900;
  font-size:46px;
  line-height:1;
  color:#fff;
  text-align:center;
  text-transform:uppercase;
  margin-bottom:40px;
  -webkit-transition:all .3s linear;
  transition:all .3s linear
}

/* about me */
.about-us{
  height:800px;
  width:100%;
  padding:90px 0;
  background:#000;
  border-bottom: 1px solid #fff;
}
.pic{
  height:auto;
  width:302px
}
.about{
  width:1130px;
  max-width:85%;
  margin:0 auto;
  display:flex;
  align-items:center;
  justify-content:space-around;
  column-gap: 100px;

}
.text{
  width:px
}
.text h2{
  font-size:90px;
  font-weight:600;
  margin-bottom:10px
}
.text h5{
  font-size:22px;
  font-weight:500;
  margin-bottom:20px
}
span{
  color:#800020
}
.text p{
  font-size:18px;
  line-height:25px;
  letter-spacing:1px
}
.data{
  margin-top:30px
}
.hire{
  font-size:18px;
  background:#800020;
  color:#fff;
  text-decoration:none;
  border:none;
  padding:8px 25px;
  border-radius:6px;
  transition:.5s
}
.hire:hover{
  background:#000;
  border:1px solid #000
}

#Home a{
  padding-top:60px
}
#Home a span{
  position:absolute;
  top:300px;
  left:50%;
  width:30px;
  height:50px;
  margin-left:-15px;
  border:2px solid #fff;
  border-radius:50px;
  box-sizing:border-box
}
#Home a span::before{
  position:absolute;
  top:10px;
  left:50%;
  content:'';
  width:6px;
  height:6px;
  margin-left:-3px;
  background-color:#fff;
  border-radius:100%;
  -webkit-animation:sdb10 2s infinite;
  animation:sdb10 2s infinite;
  box-sizing:border-box
}
@-webkit-keyframes sdb10{
  0%{
      -webkit-transform:translate(0,0);
      opacity:0
  }
  40%{
      opacity:1
  }
  80%{
      -webkit-transform:translate(0,20px);
      opacity:0
  }
  100%{
      opacity:0
  }
}
@keyframes sdb10{
  0%{
      transform:translate(0,0);
      opacity:0
  }
  40%{
      opacity:1
  }
  80%{
      transform:translate(0,20px);
      opacity:0
  }
  100%{
      opacity:0
  }
}


/* portfolio */
.portfolio{
  height: 800px;
  width: 100%;
  padding: 90px 0px;
  background: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(255, 255, 255);
  display: flex;
  margin-top: 50px; 
  margin-bottom: 50px; 
    
}

.container-portfolio {
  margin: auto; /* This will center the container horizontally */
  padding-top: 200px;
  padding-bottom: 200px;
}
.blog-slider {
  width: 95%;
  position: relative;
  max-width: 1000px;
  margin: auto;
  background: #262626;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 500px;
  transition: all 0.3s;
}
@media screen and (max-width: 992px) {
  .blog-slider {
    max-width: 680px;
    height: 400px;
  }
}
@media screen and (max-width: 768px) {
  .blog-slider {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
  }
}

.blog-slider__item {
  display: flex;
  align-items: flex-start;
}
@media screen and (max-width: 768px) {
  .blog-slider__item {
    flex-direction: column;
  }
}
.blog-slider__item.swiper-slide-active .blog-slider__img img {
  opacity: 1;
  transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > * {
  opacity: 1;
  transform: none;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
  transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
  transition-delay: 0.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
  transition-delay: 0.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
  transition-delay: 0.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
  transition-delay: 0.7s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
  transition-delay: 0.8s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
  transition-delay: 0.9s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
  transition-delay: 1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
  transition-delay: 1.1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
  transition-delay: 1.2s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
  transition-delay: 1.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
  transition-delay: 1.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
  transition-delay: 1.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
  transition-delay: 1.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
  transition-delay: 1.7s;
}
.blog-slider__img {
  width: 400px;
  flex-shrink: 0;
  height: 400px;
  /*box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);*/
  border-radius: 20px;
  transform: translateX(-80px);
  overflow: hidden;
}
.blog-slider__img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  border-radius: 20px;
  opacity: 0.8;
}
.blog-slider__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0;
  border-radius: 20px;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .blog-slider__img {
    transform: translateY(-50%);
    width: 90%;
  }
}
@media screen and (max-width: 576px) {
  .blog-slider__img {
    width: 95%;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider__img {
    height: 270px;
  }
}
.blog-slider__content {
  padding-right: 25px;
}
@media screen and (max-width: 768px) {
  .blog-slider__content {
    margin-top: -80px;
    text-align: center;
    padding: 0 30px;
  }
}
@media screen and (max-width: 576px) {
  .blog-slider__content {
    padding: 0;
  }
}
.blog-slider__content > * {
  opacity: 0;
  transform: translateY(25px);
  transition: all 0.4s;
}
.blog-slider__code {
  color: var(--text-light-color);
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
  font-color: white;
}
.blog-slider__title {
  font-size: 24px;
  font-weight: 700;
  color: var(--text-dark-color);
  margin-bottom: 20px;
}
.blog-slider__text {
  color: var(--text-dark-color);
  margin-bottom: 30px;
  line-height: 1.5em;
}
.blog-slider__button {
  display: inline-flex;
  background-color: #800020;
  padding: 15px 35px;
  border-radius: 50px;
  color: var(--text-color);
  box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}
@media screen and (max-width: 576px) {
  .blog-slider__button {
    width: 100%;
  }
}
.blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}
.blog-slider__pagination {
  position: absolute;
  z-index: 21;
  right: 20px;
  width: 11px !important;
  text-align: center;
  left: auto !important;
  top: 50%;
  bottom: auto !important;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination {
    transform: translateX(-50%);
    left: 50% !important;
    top: 205px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 8px 0;
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
  }
}
.blog-slider__pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  display: block;
  border-radius: 10px;
  background: #800020;
  opacity: 0.2;
  transition: all 0.3s;
}
.blog-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #800020;
  height: 30px;
  box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination .swiper-pagination-bullet-active {
    height: 11px;
    width: 30px;
  }
}

/* skills */
.skills{
  height: 800px;
  width: 100%;
  padding: 90px 0;
  background: #000;
  border-top: 1px solid #fff;
}

/* contact */
#contact {
  width: 100%;
  height: 100%;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px 'Oswald', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400;
}

.form-control, 
textarea {
  max-width: 400px;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255,255,255,.6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container, .form-horizontal {
    margin: 0 auto;
  }  
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {

  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    
    margin: 0 auto;
  }
 
  
  .name, .email, textarea {
    width: 280px;
  } 
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}