body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-urbanist: Urbanist;
  --font-inter: Inter;
  --font-source-sans-3: "Source Sans 3";

  /* font sizes */
  --font-size-41xl: 60px;
  --font-size-17xl: 36px;
  --font-size-29xl: 48px;
  --font-size-5xl-9: 24.9px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-19xl: 38px;
  --font-size-4xl: 23px;
  --font-size-11xl: 30px;
  --font-size-10xl-2: 29.2px;
  --font-size-56xl: 75px;
  --font-size-26xl: 45px;
  --font-size-sm: 14px;
  --font-size-9xl: 28px;
  --font-size-3xl: 22px;

  /* Colors */
  --color-gray-100: #0a0a0a;
  --strock-color: #a9a9a9;
  --color-darkgray-100: rgba(169, 169, 169, 0.7);
  --color-gainsboro-100: #dedede;
  --color-gainsboro-200: rgba(217, 217, 217, 0);
  --color-silver: rgba(191, 191, 191, 0);
  --color-indianred: #d46868;
  --color-white: #fff;
  --color-darkslategray-100: #484e53;
  --color-darkslategray-200: rgba(72, 78, 83, 0);
  --color-dimgray-100: #6e757a;
  --color-dimgray-200: #5f5f5f;

  /* Gaps */
  --gap-0: 0px;
  --gap-base: 16px;
  --gap-73xl: 92px;
  --gap-xl: 20px;
  --gap-mini: 15px;
  --gap-3xs: 10px;
  --gap-25xl: 44px;
  --gap-38xl: 57px;
  --gap-30xl: 49px;
  --gap-61xl: 80px;
  --gap-8xl: 27px;
  --gap-42xl: 61px;
  --gap-18xl: 37px;
  --gap-31xl: 50px;
  --gap-35xl: 54px;
  --gap-55xl: 74px;
  --gap-59xl: 78px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-21xl: 40px;
  --padding-6xs: 7px;
  --padding-smi: 13px;
  --padding-2xl: 21px;
  --padding-5xs: 8px;
  --padding-lg: 18px;
  --padding-mid: 17px;
  --padding-7xs: 6px;
  --padding-xs: 12px;
  --padding-12xs: 1px;
  --padding-11xs: 2px;
  --padding-8xs: 5px;
  --padding-166xl: 185px;
  --padding-17xl: 36px;
  --padding-2xs: 11px;
  --padding-4xs: 9px;
  --padding-16xl: 35px;
  --padding-15xl: 34px;
  --padding-10xs: 3px;
  --padding-33xl: 52px;

  /* Border radiuses */
  --br-6xs-7: 6.7px;
  --br-174xl: 193px;
  --br-32xl: 51px;
  --br-4xs: 9px;
}
